name: Basic CI pipeline

on:
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with: 
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build & Test via Maven Wrapper
        run: ./mvnw -B package
