name: Basic CI pipeline

on:
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
  
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with: 
        java-version: 21
        distribution: 'temurin'
        cache: maven

    #- name: Build & Test with Maven
    #  run: mvn -B package
        

    - name: Install Maven
      run: sudo apt-get update && sudo apt-get install -y maven

    - name: Run Maven Tests
      run: mvn -B -X package